pandas
scikit-learn
pyyaml
joblib
mlflow

fastapi
uvicorn
python-multipart

flake8
pytest
pytest-cov
pandera

evidently
prometheus-client

pywin32==311 ; sys_platform == "win32"
kagglehub
dvc
dvc-gdrive  # or whichever remote you use